{% extends "base.html" %}
{% block body %}
<table id="events">
    <thead>
        <tr>
            <th>count</th>
            <th>first Time</th>
            <th>severity</th>
            <th>evid</th>
            <th>component</th>
            <th>summary</th>
            <th>eventState</th>
            <th>device</th>
            <th>eventClass</th>
            <th>lastTime</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
